<section class="info-section">
    <div>
        <h2>Desarrollo</h2>
        <p>Contamos con la tecnología necesaria para poder realizar cualquier tipo de Desarrollo</p>
        <ul>
            <li><i class="fa fa-circle-check"></i> <span>Prototipado 3D</span></li>
            <li><i class="fa fa-circle-check"></i> <span>Placas anatómicas a medida</span></li>
            <li><i class="fa fa-circle-check"></i> <span>Soluciones especiales</span></li>
            <li><i class="fa fa-circle-check"></i> <span>Desarrollo de nuevos productos</span></li>
            <li><i class="fa fa-circle-check"></i> <span>Ensayos de propductos nuevos o a desarrollar</span></li>
            <li><i class="fa fa-circle-check"></i> <span>Creación de nuevos registros de productos</span></li>
        </ul>
    </div>
    <img src="../../../../assets/backgrounds/home-development.jpg" alt="Desarrollo">
</section>