<footer>
    <section>
        <ul>
            <li>
                <h2>Ubicación</h2>
                <address>
                    14 de julio 184<br>
                    (CPA C1427CJD)<br>
                    C.A.B.A.
                </address>
                <a href="https://maps.app.goo.gl/x46UdHE5wQULM92CA" target="_blank" rel="noreferrer">Ver ubicación en el mapa <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
            </li>
            <li>
                <h2>Correo electrónico</h2>
                <a href="mailto:info@bodach.com.ar" target="_blank" rel="noreferrer">info&#64;bodach.com.ar</a><br>
                <a href="mailto:ventas@bodach.com.ar" target="_blank" rel="noreferrer">ventas&#64;bodach.com.ar</a>
            </li>
            <li>
                <h2>Teléfono</h2>
                <a href="https://api.whatsapp.com/send?phone=5491131947004&text=Hola!%20Quisiera%20saber%20mas%20sobre%20sus%20productos" target="_blank" rel="noreferrer">+54 (11) 4551-9494</a>
            </li>
        </ul>
    </section>
    <section>
        <img src="../../../assets/logos/logo-bpf.png" alt="Logo BPF">
        <img src="../../../assets/logos/logo-anmat.png" alt="Logo ANMAT">
        <img src="../../../assets/logos/logo-cafime.png" alt="Logo CAFIME">
    </section>
</footer>
