
<section class="info-section">
    <div>
        <h2>Distribuidores</h2>
        <p>Contamos con distribuidores oficiales de nuestros productos. A su vez, tenemos abiertas nuestras puertas a quienes quieran sumarse a nuestro equipo de distribuidores.</p>
        <p>Contamos con habilitaciones otorgadas por el Ministerio de Salud a nivel nacional y por la Administración Nacional de Medicamentos, Alimentos y Tecnología Médica (ANMAT).</p>
        <a [routerLink]="['contacto']">Comunicate con nosotros <div class="bottom-right-arrow"></div></a>
    </div>
    <img src="../../../../assets/backgrounds/home-sellers.jpg" alt="Desarrollo">
</section>