.btn {
  border-radius: 0.5rem;
  background-color: var(--primary-color);
  color: var(--light-color);
  border: 1px solid var(--primary-color);
  z-index: 50;
  position: relative;
  padding: 1rem 2rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 1.5rem;
  min-height: 20px;
  width: 100%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  transition: transform 0.1 ease-in-out;
}

.btn:hover {
  background-color: var(--light-color);
  color: var(--primary-color);
  text-decoration: none;
}

.btn:active {
  transform: scale(0.9);
}

.btn.btn-secondary {
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  border: 1.5px solid var(--primary-color);
}

.btn.btn-secondary:hover {
  background-color: var(--primary-color);
  color: var(--light-color);
  border: 1.5px solid var(--primary-color);
}

@media (min-width: 530px) {
  /*   .btn {
    font-size: 2rem;
  } */
}
@media (min-width: 950px) {
  /*   .btn {
    font-size: 2.5rem;
  } */
}
