:host {
  display: block;
}
.filters {
  background: var(--surface);
  border: 1px solid var(--line);
  border-radius: 12px;
  padding: 2rem;
  width: 100%;
}
.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.link {
  background: transparent;
  border: none;
  color: var(--muted);
  text-decoration: underline;
  cursor: pointer;
}

.grid {
  display: grid;
  width: 100%;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}
.field {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.field > span {
  font-size: 0.85rem;
  color: var(--muted);
}
select,
input[type='text'] {
  background: var(--white);
  border: 1px solid #cbbfb7;
  border-radius: 0.5rem;
  padding: 0.55rem 0.7rem;
  outline: none;
}
.switchfield {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
}

.actions {
  display: flex;
  display: grid;
  grid-column: span 2;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}
.btn {
  border: none;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}
.btn--primary {
  background: var(--brand);
  color: #fff;
}
.btn--primary:hover {
  background: var(--brand-700);
}

@media (min-width: 1100px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
  /* .actions {
    grid-column: 1 / -1;
  } */
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  /* Hacer que actions ocupe 2fr */
  .actions {
    /* Alinear verticalmente con grid los botones hacia abajo */
    align-self: end;
  }
  .actions .btn {
    font: 1.5rem;
    height: 100%;
  }
}
