<section class="products">
    <div class="products-introduction">
        <h2>Productos</h2>
        <p>Explora nuestra selección de implantes traumatológicos premium, diseñados meticulosamente para facilitar una recuperación rápida y personalizada, asegurando el bienestar de cada paciente.</p>
    </div>
    <div class="products-photo">
        <img src="../../../../assets/backgrounds/home-products.jpg" alt="Productos">
        <app-button [text]="'Ver catálogo'" [link]="'/catalogo'" ></app-button>
    </div>
</section>