<section class="products">
    <div class="products-introduction">
        <h2>Productos</h2>
        <p>Explora nuestra amplia gama de implantes médicos traumatológicos de alta calidad. Cada producto está diseñado con precisión para garantizar la mejor atención para tu paciente. Descubre la opción perfecta que se adapte a las necesidades específicas de tu paciente y brinda una recuperación más rápida y eficiente.</p>
    </div>
    <div class="products-photo">
        <img src="../../../../assets/backgrounds/home-products.jpg" alt="Productos">
        <app-button [text]="'Ver productos'" [link]="'/catalogo'"></app-button>
    </div>
</section>